@page "/lenguaje_ver/{id:int}"

@using RealidadVirtualServer.Data;
@inject IHttpClientFactory factory

@if (lenguaje != null)
{
    <div class="row text-center">
        <div class="col-3"></div>
        <div class="col-6 align-self-center">
            <h1><b>@lenguaje.Titulo</b></h1>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" style="text-align: center; margin-bottom: 10px">
            <img style="overflow: hidden; max-height: 300px;" src="@lenguaje.Imagen" />
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p>@lenguaje.Descripcion</p>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <ul>
                @foreach(AnexoConsultar a in lenguaje.Anexos)
                {
                    <li><a href="@a.Url" target="_blank"> @a.Descripcion</a></li>
                }
            </ul>
        </div>
        <div class="col-2"></div>
    </div>
}
else
{
    <h2 style="text-align:center; margin-top: 100px">Cargando...</h2>
}


@code {

    [Parameter]
    public int id { get; set; }
    public LenguajeConsultar lenguaje = null;

    protected override async Task OnInitializedAsync()
    {
        var client = factory.CreateClient("api");
        var response = await client.GetAsync($"Lenguajes?id={id}");
        var content = await response.Content.ReadAsStringAsync();
        Thread.Sleep(1000);
        lenguaje = JsonConvert.DeserializeObject<LenguajeConsultar>(content);
    }

}
